# example netlify.toml
[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[[redirects]]
  # This makes your function accessible at your site's root path
  from = "/discord-bot"
  to = "/.netlify/functions/discord-bot" 
  status = 200